@{
    ViewData["modal_title"] ??= "Uyarı";
    ViewData["modal_body"] ??= "Bunu yapmak istediğinize emin misiniz?";
    ViewData["approve_button"] ??= "Onayla";
    ViewData["deny_button"] ??= "İptal";
    ViewData["modal_id"] ??= "actionModal";
}


<div id=@ViewData["modal_id"] class="modal animated zoomInUp custo-zoomInUp" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewData["modal_title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-text"> @ViewData["modal_body"] </p>
            </div>
            <div class="modal-footer md-button">
                <a class="btn btn-light-dark" data-bs-dismiss="modal">@ViewData["deny_button"]</a>
                <a id="approveButton" href="#"><button type="button" class="btn btn-primary">@ViewData["approve_button"]</button></a>
            </div>
        </div>
    </div>
</div>


@* Çağrıldığı Sayfaya Eklenmesi Gereken Scriptler
<script src="~/asset/js/CustomModal.js"></script> *@
