@model UserSignInModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form asp-action="SignIn" method="post">

        <input asp-for="@Model.Username" />
        <input asp-for="@Model.Password" />
        <input type="checkbox" asp-for="@Model.Remember" /> <label>Beni Hatırla</label>
        <div>
            <button type="submit">Giriş Yap</button>
        </div>
    </form>
</body>

</html>