@model List<ProcessListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["ResponseMessage"] != null)
    {
        <div class="bg-primary text-white text-center lead">
            @TempData["ResponseMessage"]
        </div>
    }
}

@section Links{
<link rel="stylesheet" type="text/css" href="~/assets/css/ProcessCard.css" />
<style>
    .radial-gradient {
        background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    }

    .card img {
        width: 100%;
    }

    .card{
        background-color: #2b325800;
    }
    
</style>
}

<div class="wrapper">
    <div class="cards">
        <h1 class="pen-title">
            Image <br />
            Shadow
        </h1>
        <div class="card">
            <div class="card-content">
                <div class="top">
                    <h3 class="name">Jeffery Rogers</h3>
                    <div class="date"><span>06 September</span></div>
                </div>
                <div class="bottom">
                    <h2>Toughening the Mind by Challenging the Body</h2>
                    <div class="bookmark">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                            viewBox="0 0 24 24" class="bookmark-icn">
                            <path
                                d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="card-bg">
                <img class="bg-img" src="https://cdn.stocksnap.io/img-thumbs/960w/SKI2T9YF2P.jpg" alt="leafs" />
            </div>
            <div class="shadow">
                <img class="shadow-img" src="https://cdn.stocksnap.io/img-thumbs/960w/SKI2T9YF2P.jpg" alt="leafs" />
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="top">
                    <h3 class="name">Wanda Todd</h3>
                    <div class="date"><span>12 November</span></div>
                </div>
                <div class="bottom">
                    <h2>It’s Time to Embrace the Sleep Divorce</h2>
                    <div class="bookmark">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                            viewBox="0 0 24 24" class="bookmark-icn">
                            <path
                                d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="card-bg">
                <img class="bg-img" src="https://cdn.stocksnap.io/img-thumbs/960w/ITKSNPZ1VP.jpg"
                    alt="colorful smoke" />
            </div>
            <div class="shadow">
                <img class="shadow-img" src="https://cdn.stocksnap.io/img-thumbs/960w/ITKSNPZ1VP.jpg"
                    alt="colorful smoke" />
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="top">
                    <h3 class="name">Pam Robbins</h3>
                    <div class="date"><span>17 August</span></div>
                </div>
                <div class="bottom">
                    <h2>Nature By Design</h2>
                    <div class="bookmark">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                            viewBox="0 0 24 24" class="bookmark-icn">
                            <path
                                d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="card-bg">
                <img class="bg-img" src="https://cdn.stocksnap.io/img-thumbs/960w/VM8ZWBFUCU.jpg" alt="red colour" />
            </div>
            <div class="shadow">
                <img class="shadow-img" src="https://cdn.stocksnap.io/img-thumbs/960w/VM8ZWBFUCU.jpg"
                    alt="red colour" />
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="top">
                    <h3 class="name">Wilfred Davis</h3>
                    <div class="date"><span>23 June</span></div>
                </div>
                <div class="bottom">
                    <h2>Revolutionary Prototyping Techiques</h2>
                    <div class="bookmark">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                            viewBox="0 0 24 24" class="bookmark-icn">
                            <path
                                d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="card-bg">
                <img class="bg-img" src="https://cdn.stocksnap.io/img-thumbs/960w/J3ZGHIF8XT.jpg" alt="wave" />
            </div>
            <div class="shadow">
                <img class="shadow-img" src="https://cdn.stocksnap.io/img-thumbs/960w/J3ZGHIF8XT.jpg" alt="wave" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
}