@model StreamCreateDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["ResponseMessage"] != null)
    {
        <div class="bg-primary text-white text-center lead">
            @TempData["ResponseMessage"]
        </div>
    }
}


@section Links{
<link rel="stylesheet" href="~/assets/css/input.css">
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Video Yükle</h5>
    </div>

    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>Video Adı:</label>
                <input asp-for="@Model.Name" class="form-control" placeholder="Video Adı">
            </div>


            <div class="form-group">
                <label>Dosya:</label>
                <div class="input-group custom-file-button">
                    <label class="input-group-text" for="inputGroupFile">Dosya Seçiniz:</label>
                    <input name="formFile" type="file" class="form-control" id="inputGroupFile">
                </div>
                <span class="form-text text-muted">Video Formatı: ".mp4"</span>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Kaydet<i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<script src="~/limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/form_layouts.js"></script>
}