@model List<AppRole>
@{
    Layout = "_Layout";
}

<a asp-action="Create" asp-controller="Role" class="d-inline-block my-2">
    <button type="button"class="btn btn-success">Yeni Rol Ekle</button>
</a>
<table class="table table-hovered table-bordered table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>CreatedTime</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.CreatedTime</td>

            </tr>
        }
    </tbody>
</table>