@{
    ViewData["Title"] = "Status";
    Layout = "_BlankLayout";
}

@section Head{
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link href="~/cork/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/asset/css/Forbidden.css" rel="stylesheet" type="text/css" />
}

<div class='grid' data-columns>
    <section class='block'>
        <p><span class='b0'></span></p>
        <p><span class='b1'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4'></span></p>
        <p><span class='b5'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4'></span></p>
        <p><span class='b5'></span></p>
    </section>
    <section class='block'>
        <p><span class='b4'></span></span></p>
        <p><span class='b1'></span></p>
        <p><span class='b1'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4 indent6'></span></p>
    </section>
    <section class='block'>
        <p><span class='b0'></span></p>
        <p><span class='b1'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4'></span></p>
        <p><span class='b5'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4'></span></p>
        <p><span class='b5'></span></p>
    </section>
    <section class='block'>
        <p><span class='b4'></span></span></p>
        <p><span class='b1'></span></p>
        <p><span class='b1'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4 indent6'></span></p>
    </section>
    <section class='block'>
        <p><span class='b0'></span></p>
        <p><span class='b1'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4'></span></p>
        <p><span class='b5'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4'></span></p>
        <p><span class='b5'></span></p>
    </section>
    <section class='block'>
        <p><span class='b4'></span></span></p>
        <p><span class='b1'></span></p>
        <p><span class='b1'></span></p>
    </section>
    <section class='block'>
        <p><span class='b1'></span></p>
        <p><span class='b4'></span></p>
    </section>
</div>

<section class='err'>
    <div id="str"></div>
    <br /><br />
    <div class="align-self-center">
        <button onclick="history.back()" class="btn btn-success btn-lg">Geri Dön</button>
    </div>
</section>

@section Script{
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/cork/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <script src="~/asset/js/Forbidden.js"></script>
}