@model GeneralDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "PrepareProcessData";
}

@{
    var aostypelist = new SelectList(Model.AOSTypeList, "Id", "Name");
    var streamlist = new SelectList(Model.StreamList, "Id", "Name");
    var playerlist = new SelectList(Model.PlayerList, "Id", "Name");
    var courtlist = new SelectList(Model.CourtList, "Id", "Name");
}


<!-- Basic layout-->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">AOS TESTİ BAŞLAT</h5>
    </div>

    <div class="card-body">

        <form asp-action="StartGameObservation" asp-controller="Home" method="post">



            <div class="form-group">
                <label>Oyuncu Seçiniz:</label>
                <select class="form-select" asp-items="@playerlist" name="PlayerId"></select>
            </div>

            <div class="form-group">
                <label>Hesaplanacak AOS Tipi Seçiniz:</label>
                <select class="form-select" asp-items="@aostypelist" name="AOSTypeId"></select>
            </div>

            <div class="form-group">
                <label>Video/Stream Seçiniz:</label>
                <select class="form-select" asp-items="@streamlist" name="Id"></select>
            </div>

            <div class="form-group">
                <label>Saha Seçiniz:</label>
                <select class="form-select" asp-items="@courtlist" name="CourtId"></select>
            </div>

            <div class="form-group">
                <label>Limit (İşlenecek Frame Sayısı):</label>
                <input class="input-group-text" type="number" name="Limit" value="-1"></input>
            </div>

            <div class="row">
                <div class="row">
                    <button type="submit" class="btn btn-primary">AOS Puanını Hesapla<i
                            class="icon-paperplane ml-2"></i></button>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- /basic layout -->


@section Scripts{
<script src="~/limitless/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/limitless/global_assets/js/demo_pages/form_layouts.js"></script>
}