@model PlayingDatumListDto

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
<link href="~/assets/css/card.css" rel="stylesheet" type="text/css">
}

<div class="row">


  <div class="card_efected">
    <div class="content">
      <th>İsim: </th>
      <getPlayerInfo player-id="@Model.PlayerId"></getPlayerInfo>
    </div>
  </div>

  <div class="card_efected">
    <div class="content">
      <th>AOS Türü: </th>
      <getAosTypeInfo aos-type-id="@Model.AosTypeId"></getAosTypeInfo>
    </div>
  </div>
  <div class="card_efected">
    <div class="content">
      <th>Saha İsmi: </th>
      <getCourtInfo court-id="@Model.CourtId"></getCourtInfo>
    </div>
  </div>

</div>
