@model UserSignInModel
@{
    Layout = "_Layout";
}

<form asp-action="SignIn" method="post" class="p-4 mx-auto w-75 shadow">

    <div class="mb-3">
        <label>Kullanıcı Adı:</label>
        <span class="text-danger" asp-validation-for="@Model.Username"></span>
        <input asp-for="@Model.Username" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Parola:</label>
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
        <input type="password" asp-for="@Model.Password" class="form-control" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Giriş</button>
    </div>

    <div class="text-danger mt-2" asp-validation-summary="ModelOnly">
</div>

</form>