<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    @RenderSection("Links", false)

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="LogOut" class="nav-link">ÇIKIŞ YAP</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-action="Create" asp-controller="Home" class="nav-link active"
                                aria-current="page">Kayıt Ol</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="SignIn" class="nav-link">Giriş Yap</a>
                            </li>
                        }

                        @if (User != null && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-action="Index">User List</a>
                            </li>
                        }

                        @* <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                            </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="content pt-0">
        <section>
            <div class="container-fluid mt2 p-3">

                @RenderBody()

            </div>
        </section>
    </div>


    @RenderSection("Scripts", false)

    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>