@{
    ViewData["Title"] = "Status";
    Layout = "_BlankLayout";
}

@section Head{
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/cork/src/assets/img/favicon.ico" />
    <link href="~/cork/layouts/modern-dark-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/layouts/modern-dark-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/cork/layouts/modern-dark-menu/loader.js"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/cork/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/cork/layouts/modern-dark-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/light/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />

    <link href="~/cork/layouts/modern-dark-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/cork/src/assets/css/dark/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

}

<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!--  END LOADER -->

<div class="auth-container d-flex h-100">

    <div class="container mx-auto align-self-center">

        <div class="row">

            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                <div class="card mt-3 mb-3">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12 mb-3">

                                <h2>
                                    @ViewData["ResponseMessage"]
                                </h2>

                            </div>

                            <div class="col-12">
                                <div class="mb-4">
                                    <button id="closeButton" class="btn btn-secondary w-100" onclick="CloseThePage()">OK</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@section Script{
    <script>
        function CloseThePage() {
            var closebutton = document.getElementById("closeButton");
            closebutton.hidden = true;
            
            var waiter = setTimeout(function () {
                window.close();
            }, 5000)
        }
    </script>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/cork/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
}