@model ResetPasswordMailModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div>
    Merhaba,
    <br>

    Eğer yeni şifre talebinde bulunduysanız aşağıdaki linkten şifrenizi yenileyebilirsiniz.
    <br>

    <strong>
        <a target="_blank" href="@Model.ResetPasswordLink">Parolanızı Güncellemek için Tıklayınız...</a>
    </strong>
    <br><br>


    <span style="font-size:12px;">NOT : Eğer ki bu talep tarafınızca gerçekleştirilmemişse lütfen bu maili ciddiye almayınız.</span>
    <br>

    Teşekkürler...

    <br><br>
</div>