@model List<SessionParameterListDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
<link href="~/assets/css/card.css" rel="stylesheet" type="text/css">
}


<div class="row flex">

    @foreach (var item in Model)
    {
        <div class="card_efected">
            <div class="content">
                <th>İsim:</th><br>
                "Vuruş"
            </div>
        </div>

        <div class="card_efected">
            <div class="content">
                <th>Oyuncu:</th><br>
                <getPlayerInfo player-id="@item.PlayerId"></getPlayerInfo>
            </div>
        </div>

        <div class="card_efected">
            <div class="content">
                <th>AOS Türü: </th><br>
                <getAosTypeInfo aos-type-id="@item.AosTypeId"></getAosTypeInfo>
            </div>
        </div>
        <div class="card_efected">
            <div class="content">
                <th>Saha İsmi: </th><br>
                <getCourtInfo court-id="@item.CourtId"></getCourtInfo>
            </div>
        </div>
        <div class="card_efected">
            <div class="content">
                <th>Saha İsmi: </th><br>
                <getStreamInfo stream-id="@item.StreamId"></getStreamInfo>
            </div>
        </div>

        <hr />
    }
</div>
