.card img {
    width: 100%;
}

.card {
    background-color: #1c183c7d;
    border-radius: 20px;
}

svg {
    display: initial;
}

.image-fit {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}